*.pyc
.DS_Store
*/.DS_Store
.idea/*
jx/sqlalchemy_env.py
kpi/settings.py
.idea/kpi.iml
.idea/misc.xml
.idea/workspace.xml
.idea/codestream.xml
.idea/codestream.xml
.gitignore
.idea/codestream.xml
.idea/workspace.xml
.idea/codestream.xml
.idea/workspace.xml
.idea/codestream.xml
.idea/codestream.xml
.idea/workspace.xml
kpi/settings.py

.vscode/settings.json
static/.DS_Store
templates/.DS_Store
templates/.DS_Store
templates/html/fixedheader.html
templates/html/fixedheadertable.html
templates/html/left-right.html
templates/.DS_Store
static/.DS_Store
