<script src="{{ static('js/jquery.min.js') }}"></script>
<script src="{{ static('bootstrap-3.4.1/js/bootstrap.min.js') }}"></script>
<script src="{{ static('js/bootstrap-treeview.min.js') }}"></script>
<script src="{{ static('bootsnav/js/bootsnav.js') }}"></script>
<script src="{{ static('tableExport/libs/js-xlsx/xlsx.core.min.js') }}"></script>
<script src="{{ static('tableExport/tableExport.js') }}"></script>
<script src="{{ static('bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
<script src="{{ static('bootstrap-table/dist/bootstrap-table-locale-all.min.js') }}"></script>
<script src="{{ static('bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js') }}"></script>
<script src="{{ static('js/card.js') }}"></script>
<script src="{{ static('js/util.js') }}"></script>
<script src="{{ static('message-tips/js/hullabaloo.js') }}"></script>
<script src="{{ static('moment/min/moment.min.js') }}"></script>
<script src="{{ static('bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
<script src="{{ static('x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
<script src="{{ static('bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js') }}"></script>
<script src="{{ static('bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ static('bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js') }}"></script>
<script src="{{ static('bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js') }}"></script>
<script src="{{ static('bootstrap-fileinput/js/fileinput.min.js') }}"></script>
<script src="{{ static('bootstrap-fileinput/js/locales/zh.js') }}"></script>

<script type="text/javascript">
	$.hulla = new hullabaloo('center');  // 'left', 'center' or 'right'
</script>

<script type="text/javascript">
    $('.modal').on("hidden.bs.modal", function() { $(document.body).addClass("modal-open"); });
</script>
