<!DOCTYPE HTML>
<html lang="zh">
<head>
    {% include 'html/stitle.html' %}
    {% include 'html/scss.html' %}
    {% include 'html/sjs.html' %}
    {% include 'html/spassword.html' %}
</head>
<body>
    <nav class="navbar navbar-default bootsnav" style="background-color: #e3f2fd;">
        <div class="container" style="width: inherit">
            {% include 'html/sheader.html' %}
            {% include 'html/smenu.html' %}
        </div>
    </nav>

    <!-- Start Content -->
    <div class="why_container">
        <div class="why_left" id="why_left_panel" hidden>
            <h6 id="current_menu">组织结构</h6>
            <div id="treeview-selectable" class=""></div>
            <div id="selectable-output" hidden></div>
        </div>
        <div class="why_right">
            <div class="why_content">
            <div class="form-group form-inline" id="toolbar">
                {% include 'html/sdate.html' %}
                {% if editable[0] %}
                    <button id="create" class="btn btn-warning" onclick="button_create()"><i class="fa fa-plus"></i> 新建</button>
                {% endif %}

                {% if editable[1] %}
                    <button id="create" class="btn btn-danger" onclick="button_delete()"><i class="fa fa-remove"></i> 删除</button>
                {% endif %}

                {% if editable[5] %}
                    <button id="download" class="btn btn-success" onclick="button_download('{{ tips }}-'+getDateString(0)+'-'+getHourMinute(), 'excel')"><i class="fa fa-download"></i> 下载</button>
                {% endif %}

                {% if editable[4] %}
                    <button id="upload" class="btn btn-info" onclick="button_upload('上传{{ tips }}', '{{ menu }}')"><i class="fa fa-upload"></i> 上传</button>
                {% endif %}
            </div>
            <table id="table" class="table table-bordered table-striped"></table>
        </div>
        </div>
    </div>
    <!-- End Content -->

    {% include 'html/sbuild.html' %}
    {% include 'html/sorgtree.html' %}

    {% if editable[4] %}
        {% include 'html/supload.html' %}
    {% endif %}

    {% if editable[5] %}
        {% include 'html/sdownload.html' %}
    {% endif %}

    {% if editable[1] %}
        {% include 'html/sdelete.html' %}
    {% endif %}

    {% if editable[0] %}
        {% include 'html/screate.html' %}
    {% endif %}

<script>
    function refresh() {
        if ($('#selectStartDate').val() > $('#selectEndDate').val()) {
            $.hulla.send('起始时间应小于等于终止时间，请重新选择！', "danger");
            return;
        }
        $selectableTree = initSelectableTree();
        // $('#table').bootstrapTable('destroy');
        refreshTable();
    }

    function getSelections() {
        var select = $("#table").bootstrapTable('getSelections');
        if (select.length <= 0) {
            $.hulla.send('请选择有效数据！', "danger");
            return [];
        }
        var res = [];
        for (var i=0; i<select.length; i++)
            res.push(select[i]);
        return res;
    }

    $(function() { });

</script>

</body>
</html>
