<!DOCTYPE HTML>
<html lang="zh">
<head>
    {% include 'html/stitle.html' %}
    {% include 'html/scss.html' %}
    {% include 'html/sjs.html' %}
</head>
<body>
<nav class="navbar navbar-default bootsnav" style="background-color: #e3f2fd;">
    <div class="container" style="width: inherit">
        {% include 'html/sheader.html' %}
        {% include 'html/smenu.html' %}
    </div>
</nav>

<!-- Start Content -->
<div class="why_container">
    <div class="why_left">
        <h6 id="current_menu">组织结构</h6>
        <div id="treeview-selectable" class=""></div>
        <div id="selectable-output" hidden></div>
    </div>
    <div class="why_right">
        <div class="why_content">
            <div class="form-group form-inline" id="toolbar">
                {% include 'html/sdate.html' %}

                <div class="input-group" id="checkItemTypes">
                    <script>
                        function getItemData() {
                            itemCode = [];
                            $.each($("#checkItemTypes div span input[type='radio']"),function () {
                                if($(this).is(":checked")) itemCode.push($(this).val());
                            });
                            refreshTable();
                        }

                        $(function() {
                            let ret = [
                                {'id': 1, 'name': '单位'},
                                {'id': 2, 'name': '教职工'},
                                {'id': 3, 'name': '考核名称'},
                            ];

                            for(var i=0; i < ret.length; i++){
                                if (i==0) {
                                    $('<div class="input-group"><span class="input-group-addon"><label class="radio-inline"><input onclick="getItemData()" name="itemRadio" type="radio" checked value="'
                                        + ret[i].id + '">' + ret[i].name + '</label></div>').appendTo($('#checkItemTypes'));
                                } else {
                                    $('<div class="input-group"><span class="input-group-addon"><label class="radio-inline"><input onclick="getItemData()" name="itemRadio" type="radio" value="'
                                        + ret[i].id + '">' + ret[i].name + '</label></div>').appendTo($('#checkItemTypes'));
                                }
                            }
                            itemCode = [1];
                        });
                    </script>
                </div>

                {% if editable[5] %}
                    <button id="download" class="btn btn-success" onclick="button_download('{{ tips }}-'+getDateString(0)+'-'+getHourMinute(), 'excel')"><i class="fa fa-download"></i> 下载</button>
                {% endif %}
            </div>
            <table id="table" class="table table-bordered table-striped"></table>
        </div>
    </div>
</div>
<!-- End Content -->

{% include 'html/sbuild.html' %}
{% include 'html/sorgtree.html' %}

{% if editable[5] %}
    {% include 'html/sdownload.html' %}
{% endif %}

<script>
    var tree_url = "{{ url('get_allhrdpmt') }}";
    var tree_data_method = "{{ with_users }}";
    var $orgid = "";

    var $selected_node = {
        'type': 'd',
        'href': '',
        'code': getCookie('DWH'),
        'text': ''
    };

    function resetSelectedNode() {
        $selected_node = {
            'type': 'd',
            'href': '',
            'code': getCookie('DWH'),
            'text': ''
        };
    }

    function unselectNode(node) { $orgid = ''; resetSelectedNode(); refreshTable(); }

    function selectNode(node) { $selected_node = node; $orgid = $selected_node.href; refreshTable(); }

    function refresh() {
        if ($('#selectStartDate').val() > $('#selectEndDate').val()) {
            $.hulla.send('起始时间应小于等于终止时间，请重新选择！', "danger");
            return;
        }
        $selectableTree = initSelectableTree();
        // $('#table').bootstrapTable('destroy');
        refreshTable();
    }

    function getSelections() {
        var select = $("#table").bootstrapTable('getSelections');
        if (select.length <= 0) {
            $.hulla.send('请选择有效数据！', "danger");
            return [];
        }
        var res = [];
        for (var i=0; i<select.length; i++)
            res.push(select[i]);
        return res;
    }

    function post_build() {
        $.each($("#checkItemTypes div span input[type='radio']"),function () {
            if($(this).is(":checked")){
                let value = $(this).val();
                if (value == 1) {
                    $('#table').bootstrapTable('hideColumn', 'JZGH');
                    $('#table').bootstrapTable('hideColumn', 'XM');
                    $('#table').bootstrapTable('hideColumn', 'GZH');
                    $('#table').bootstrapTable('hideColumn', 'KHMC');
                    $('#table').bootstrapTable('hideColumn', 'KHLX');
                    $('#table').bootstrapTable('hideColumn', 'KHZL');
                    $('#table').bootstrapTable('hideColumn', 'XXKHZL');
                } else if (value == 2) {
                    $('#table').bootstrapTable('showColumn', 'JZGH');
                    $('#table').bootstrapTable('showColumn', 'XM');
                    $('#table').bootstrapTable('hideColumn', 'GZH');
                    $('#table').bootstrapTable('hideColumn', 'KHMC');
                    $('#table').bootstrapTable('hideColumn', 'KHLX');
                    $('#table').bootstrapTable('hideColumn', 'KHZL');
                    $('#table').bootstrapTable('hideColumn', 'XXKHZL');
                } else if (value == 3) {
                    $('#table').bootstrapTable('hideColumn', 'JZGH');
                    $('#table').bootstrapTable('hideColumn', 'XM');
                    $('#table').bootstrapTable('showColumn', 'GZH');
                    $('#table').bootstrapTable('showColumn', 'KHMC');
                    $('#table').bootstrapTable('showColumn', 'KHLX');
                    $('#table').bootstrapTable('showColumn', 'KHZL');
                    $('#table').bootstrapTable('showColumn', 'XXKHZL');
                } else {}
            }
        });
    }

    $(function() {

    });

</script>

</body>
</html>
