<!DOCTYPE HTML>
<html lang="zh">
<head>
    {% include 'html/stitle.html' %}
    {% include 'html/scss.html' %}
    {% include 'html/sjs.html' %}
</head>

<style>
why-space {
  letter-spacing:12px
}
</style>

<body>
    <nav class="navbar navbar-default bootsnav" style="background-color: #e3f2fd;">
        <div class="container">
            {% include 'html/sheader.html' %}
            {% include 'html/smenu.html' %}
        </div>
    </nav>

    <div class="clearfix"></div>

    <!-- Start Content -->
    <div class="column">
        <div class="column-left">
            <div class="resize-bar"></div>
            <div class="resize-line"></div>
            <div class="resize-save">
                <div class="row sal_margin">
                    <h6 id="current_menu">组织结构</h6>
                    <div id="treeview-selectable" class=""></div>
                    <div id="selectable-output" hidden></div>
                </div>
            </div>
        </div>
        <div class="column-right">
            <div class="form-group form-inline" id="toolbar">
                {% include 'html/sdate.html' %}
                {% if editable[0] %}
                <!-- button id="create" class="btn btn-success" onclick="button_create()"><i class="fa fa-plus"></i> 新建</button -->
                {% endif %}

                {% if editable[5] %}
                    <button id="download" class="btn btn-danger" onclick="button_download('{{ tips }}-'+getDateString(0)+'-'+getHourMinute(), 'excel')"><i class="fa fa-download"></i> 下载</button>
                {% endif %}

                {% if editable[4] %}
                    <button id="upload" class="btn btn-info" onclick="button_upload('上传{{ tips }}', '{{ menu }}')"><i class="fa fa-upload"></i> 上传</button>
                    <button id="upload" class="btn btn-primary" onclick="button_run()"><i class="fa fa-calculator"></i> 计算</button>
                {% endif %}
            </div>
            <table id="table" class="table table-bordered table-striped"></table>
        </div>
    </div>
    <!-- End Content -->

    {% include 'html/sbuild.html' %}
    {% include 'html/sorgtree.html' %}
    {% include 'html/supload.html' %}
    {% include 'html/sdownload.html' %}

<script>
    var tree_url = "{{ url('get_allhrdpmt') }}";
    var tree_data_method = "{{ with_users }}";
    var $orgid = "";

    var $selected_node = {
        'type': 'd',
        'href': '',
        'code': getCookie('DWH'),
        'text': ''
    };

    function resetSelectedNode() {
        $selected_node = {
            'type': 'd',
            'href': '',
            'code': getCookie('DWH'),
            'text': ''
        };
    }

    function unselectNode(node) { $orgid = ''; resetSelectedNode(); refreshTable(); }

    function selectNode(node) { $selected_node = node; $orgid = $selected_node.href; refreshTable(); }

    function refresh() {
        if ($('#selectStartDate').val() > $('#selectEndDate').val()) {
            $.hulla.send('起始时间应小于等于终止时间，请重新选择！', "danger");
            return;
        }
        $selectableTree = initSelectableTree();
        $('#table').bootstrapTable('destroy');
        refreshTable();
    }

    $(function() {})

    function button_run() {
        $.ajax({
            type: "post",
            url: "{{ url('run_kpi') }}",
            headers: {"X-CSRFToken": getCookie('csrftoken')},
            data: {},
            dataType: 'JSON',
            success: function (data, status) {
                if (status == "success") {
                    $.hulla.send(data.msg, "warning");
                    refreshTable();
                }
            },
            error: function () { $.hulla.send('考核运算异常，请联系管理员！', "danger"); },
            complete: function () { refreshTable();}
        });
    }

</script>

</body>
</html>
